/* couleurs
noir : #000000;
blanc : #FFFFFF;
vert : #41A62A;
*/

/* Hassan, je te laisse gérer la barre noire class = zonenoire
Ce qu'il me reste a faire :
problème de marge
probleme de responsive
en md les images ne se placent pas correctement
La loupe dans la barre de nav
mettre des flaticons dans la barre de nav
gérer 	les rollover
		liens vert
		opacité
		la font
Voila pour ce que je vois
*/


/* css concernant tout le document*/


.separation {
	height: 50px;
}

/* css zone navbar*/


nav ul li:hover{
	background-color: green;
}

.loupe {
	background-color: green;
	height: 50px;
	width: 75px;
}
/* css zone image*/
img {
	height: 195px;
	width: 350px;
}
.album {
	height: 350px;
	color: #FFFFFF;
	background-color: #000000;
	text-transform: uppercase;
}
.zoneImage {
	padding-left: 0px;
	padding-right: 0px;
}


/* css zone blanche*/

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

/* css zone blanche partie 1*/

.zonesBlanches {
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

.zoneBlanche {
	background-color: white;
	padding-top: 50px;
	padding-left: 0px;
	padding-right: 0px;
}

article{
	margin: 0 auto;
	text-align: center;
}
h2 {
	text-transform: uppercase;
	margin-bottom: 30px;
}
iframe {
	margin-bottom: 100px;
}

p {
	text-align: justify;
}


/* css zone blanche partie 2*/

.aside {
	width: 300px;
	margin-left: 20%;
}


/*h4 {

font-weight: bold;
	text-align: left;
}*/
a{
	color: grey;
	font-family: "Lato" sans-serif ;
}
a:hover{
	color:#24890D;
	text-decoration: none;
	cursor: pointer;
}

dl {
	text-align: left;
}

.GrosTrait {
	width: 300px;
	height: 5px;
	background-color: #000000;
	border: none;
	text-align: center;
}

hr {
	width: 300px;
	text-align: center;
	background-color: #E5E5E5;
}

dl {
	position: center;
}

dd {
	color : #A98B7A
}


/*  MA PARTIE DE CSS   ----HASSAN------*/
/*NAV BAR CSS ET LIEN et css du format smart*/
.nav-liens {
		color: white !important;
		font-size: 0.7em;
	}

	.nav-liens:hover {
		background-color: #24890D !important;
	}

	.form-control-loupe {
		width: 20%;
		height: 20px;
		font-size: 0.7em;
		float: right;
		margin-right: 10px;
		border:none;
		border-radius: 2px;
	}




	.nav-liens {
		color: white !important;
		font-size: 0.7em;
	}

	.nav-liens:hover {
		background-color: #24890D !important;
	}

	.form-control {
		width: 50%;
		height: 20px;
		font-size: 0.7em;
		float: right;
		margin-right: 10px;
		border:none;
		border-radius: 2px;
	}



	.navbar-toggle {
		border:none;
	}

	.icon-bar {
		width: 20px !important;
	}

	.navbar-inverse .navbar-toggle:hover,
	.navbar-inverse .navbar-toggle:focus {
		background-color: black;
	}
	
/* positionnement et background*/
.navgauche {
	font-family: "Lato", sans-serif;
	padding-left: 15px;
	padding-left: 15px;
}

nav#sidebar-wrapper{ 
	background-color: black;
	padding: 0px;
	
}
  /*different liens de la navbar et des icons*/
nav#sidebar-wrapper li.border-nav a{ 
	font-size: 11px;
	border-bottom: solid 1px grey;

}
ul.sidebar-nav > li i{ 
	float:right;
	
}
li a.nav-liens{
	padding-left: 30px;
	padding-right: 30px;
}

 /*css du du titre*/
.sidebar-brand h2.name-navbar{ 
	font-size:0.8em;
	padding-left: 30px;
	padding-right: 30px;
	color: grey;
}


.navbar-brand {
	color: white !important;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 0.8em;
}


.nav-style {
	background-color: black;
}

/*barre de recherche*/
input.form-control{
	width: 70%;
	height: 25px;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #191919;
	
}

/*style de bordure pour la barre de recherche*/
input#focusedInput{
	border: solid 1px grey;
}


p.recent {
	
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 0px;
	margin-bottom:0px;
	padding-left: 30px;
	padding-right: 0px;

}
img:hover {
    opacity: 0.80;
    filter:alpha (opacity=80); 
}

img.img-responsive.col-md-12.offset-1.col-md-10{
	margin-left:26px; 
}

.img-responsive.col-lg-12{
	padding-left: 30px;
	padding-right: 30px;
}
p.release{
	font-family: "Lato", sans-serif;
	margin-top: 10px;
	margin-left: 0px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 0px;
	font-size: 13px;
	color: grey;
	font-style: italic;

}

p.listen {
	font-family: "Lato", sans-serif;
	color: white;
	text-decoration: none;
	margin-bottom: 70px;
	font-size: 12px;
	margin-left: 0px;
	padding-left: 30px;
	padding-right: 30px;
}
p.listen a{
	color: white;
}
p.listen a:hover{
	color: #24890D;
	text-decoration: none;
}
/*Titre list*/
p.thanks{
	font-family: "Lato", sans-serif;
	color: white;
	font-size: 11px;
	font-weight: 800;
	margin-left: 0px;
	padding-left: 30px;
	padding-right: 30px;
	
}
/*chanteurs la liste*/
ul.noms-chanteurs{ 
	font-family: "Lato", sans-serif; 
	list-style: none;
	margin-bottom: 80px;
	font-size: 12px;
	margin-left: 0px;
	padding-left: 30px;
	padding-right: 30px;
}
li.chanteurs{
	padding-top: 10px;
	padding-bottom: 10px;
}
.chanteurs a{
	color:white;

}

.chanteurs a:hover{
	color: green;
    text-decoration: none;
}
}
hr.barre-grise{
	border-color: gray;
	margin-top: 0px;
	margin-bottom: 0px;
}
p.page{
	font-family: "Lato", sans-serif !important;
	color: grey;
	font-size: 11px;
	padding-left: 30px; 
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;

}
p.page a {
	color: white;
	text-decoration: none;
}
p.page a:hover{
	color: green;
	text-decoration: none;
}


/* css le footer*/
footer {
	background-color: #000000;
	color: #FFFFFF;
}
/*rajout du hover sur le footer*/
.texte2 a{
	color: grey;
	font-family: "Lato" sans-serif !important;
}

.texte2 a:hover{
	color:#24890D;
	text-decoration: none;
	cursor: pointer;
}