/* couleurs
noir : #000000;
blanc : #FFFFFF;
vert : #41A62A;
*/

/* Hassan, je te laisse gérer la barre noire class = zonenoire

Ce qu'il me reste a faire :
problème de marge
probleme de responsive
en md les images ne se placent pas correctement
La loupe dans la barre de nav
mettre des flaticons dans la barre de nav
gérer 	les rollover
		liens vert
		opacité
		la font
Voila pour ce que je vois
*/

.zonenoire {
	background-color: yellow;
	color: white;
}

/* css concernant tout le document*/

.row {
	margin-right: 0px;
	margin-left: 0px;
}
.separation {
	height: 50px;
}

/* css navbar*/


nav ul li:hover{
	background-color: green;
}

.loupe {
	background-color: green;
	height: 50px;
	width: 75px;
}
/* css zone image*/
img {
	height: 195px;
	width: 350px;
}
.album {
	height: 350px;
	color: #FFFFFF;
	background-color: #000000;
	text-transform: uppercase;
}
/* css zone image*/

.zoneImage {
	padding-left: 0px !important;
	padding-right: 0px !important;
	background-color: #000000;
}
img {
	height: 195px;
	width: 350px;
}
.album {
	height: 350px;
	color: #FFFFFF;
	background-color: #000000;
	text-transform: uppercase;
}


/* css zone blanche*/

/* css zone blanche partie 1*/

.zoneBlanche {
	background-color: white;
	padding-left: 0px;
	padding-right: 0px;
}
.zonesBlanches{
	margin: 0 auto;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.videotext {
	margin: 0 auto;
	text-align: center;
}

article{
	margin: 0 auto;
}
h2 {
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center;
}
iframe {
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

p {
	margin: 0 auto;
	margin-bottom: 19px;
	text-align: justify;
	width: 450px;
}


/* css zone blanche partie 2*/

.aside {
	margin: 0 auto;
	width: 300px;
}


h4 {
	font-weight: bold;
}



.GrosTrait {
	width: 300px;
	height: 5px;
	background-color: #000000;
	border: none;
	text-align: center;
}

hr {
	width: 300px;
	text-align: center;
	background-color: #E5E5E5;
}

dl {
	position: center;
}

dd {
	color : #A98B7A
}


/* css le footer*/
footer {
	background-color: #000000;
	color: #FFFFFF;
}

